body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #e6fafc;
}
h4{
  text-align: center;
}
.Profile1{
  text-align: center;

}
.photo{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.img{
  margin-top: 10px;
}
.fa{
  margin-left: 30px;
}
.f{
  margin-left: 30px;
}
.link{
  margin-left: 50px;
}
.text{
  margin-left: 50px
}
.box1{
  position: relative;
  margin: 50px;
  width: 450px;
  height: 615px;
  margin-top: 65px;
  border-radius: 10px;
  background: #b7e4c7;
}
.box2{
  position: relative;
  margin-left: 530px;
  margin-top:50px;
  height: 300px;
  width: 700px;
  bottom: 665px;
  border-radius: 10px;
  background: #b7e4c7;
}
.table1{
  text-align: center;
}
.table2{
  text-align: center;
}
.table3{
  text-align: center;
}
h3{
  margin-left: 20px;
}
.contact{
  margin-left: 20px;
}
.send{
  margin-left: 250px
}
.text{
margin-left: 135px;
}

.box3{
  position: relative;
  margin-left: 530px;
  height: 280px;
  width: 335px;
  bottom: 630px;
  border-radius: 10px;
  background: #b7e4c7;
}
.box4{
  position: relative;
  margin-left: 895px;
  height: 280px;
  width: 335px;
  bottom: 910px;
  border-radius: 10px;
  background: #b7e4c7;
}
