body{
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  background-color: #f5f3f4;
}
#title{
    background-color: #326771;
    font-family: 'Raleway', sans-serif;
}
h1{
  color: #f8f9fa;
  letter-spacing: 10px;
  font-family: 'Raleway', sans-serif;
}
.img-container{
  position: relative;
  height: 550px;
  overflow: hidden;
  background: url(tyRsZwG.gif) no-repeat center;
  background-size: cover;
}
.text-container{
  text-align: center;
  padding-top: 250px;
}
#body-section{
  margin: 13%;
}
.text{
  color: #f8f9fa;
  letter-spacing: 5px;
}
h3{
  letter-spacing: 3px;
}
.icon1{
  float: left;
  margin-right: 5px;
}
.icon2{
  float: left;
  margin-right: 10px;
}
.icon3{
  float: left;
  margin-right: 10px;
}
.t1{
  margin-top: 10px;
}
#cards{
  margin: 5%;
}
.colored {
  background:#086375;
  width:100%;
  padding:7%;
}
.foot{
  width:100%;
  padding: 7%;
}
.table{
  margin: 30px
}
.media{
  margin: 30px;
}
.insta{
  margin-left: 7px;
}
.telega{
  margin-left: 7px;
}
